/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@use '@/shared/styles/colors' as *;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #f9f9fb;
    --foreground: #171717;
    /* светлая тема */
    --hex-background-default: #{$hexDefault};
    --hex-background-hover: #{$hexHover};
    --hex-content-color: #{$hexContentColor};
    --hex-button-background: #{$hexButtonBackground};
    --hex-button-hover-background: #{$hexButtonHoverBackground};
}

[data-theme='dark'] {
    --background: #{$darkThemeBackground};
    --foreground: #{$darkThemeForeground};

    --hex-background-default: #{$darkThemeHexBackground};
    --hex-background-hover: #{$darkThemeHexHover};
    --hex-hover-shadow: rgba(255, 255, 255, 0.5);
    --hex-button-background: #{$darkThemeHexButtonBackground};
    --hex-button-hover-background: #{$darkThemeHexButtonHoverBackground};
    --hex-content-color: #{$darkThemeHexContentColor};
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-inter), sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
