@use '@/shared/styles/colors' as colors;

.scene {
    width: 350px;
    height: 450px;
    perspective: 600px;
    margin: 40px 0;
}

.card {
    width: 100%;
    height: 100%;
    position: relative;
    transition: transform 1.3s;
    transform-style: preserve-3d;
    cursor: pointer;
}

.card.is-flipped {
    transform: rotateY(180deg);
}

.card__face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 18px;
    gap: 20px;
}

.card__face--front {
    background: colors.$cardFrontBackground;
}

.card__face--back {
    background: colors.$cardBackBackground;
    transform: rotateY(180deg);
}

@keyframes rollout {
    0% {
        transform: translateY(-40px);
    }
    100% {
        transform: translateY(0);
    }
}

.roll-out {
    animation: rollout 0.7s ease-out;
}
