@use '@/shared/styles/colors' as colors;

.arrowButton {
    color: colors.$arrowDefault;
    transition: transform 0.2s;

    &:hover {
        color: colors.$arrowHover;
        transform: scale(1.1);
    }

    &:active {
        transform: scale(0.9);
    }
}
