// Cards
$cardFrontBackground: rgb(226, 179, 179);
$cardBackBackground: rgb(178, 178, 220);

// Hexagon Gallery
$hexDefault: #e2e8f0;
$hexHover: #555;
$hexHoverShadow: rgba(0, 0, 0, 0.5);
$hexButtonBackground: #fde186;
$hexButtonHoverBackground: #9194a7;
$hexContentColor: white;

// Buttons
$hexButton: #fde186;
$hexButtonHover: darkcyan;

// ProgressBar
$progressBarBackground: #eee;
$progressBarFill: #fde38c;

// Arrows
$arrowDefault: #6b7280;
$arrowHover: #fde69c;

// Navigation Menu
$navBackground: rgb(254, 240, 138);
$navBackgroundGradientFrom: rgba(255, 255, 255, 0.8);
$navBackgroundGradientTo: rgba(255, 255, 255, 0.2);
$navLinkText: rgb(100, 116, 139);
$navLinkHover: rgb(99, 102, 241);
$navLinkActive: rgb(226, 232, 240);
$navLinkActiveText: rgb(79, 70, 229);
